@import "tailwindcss";

:root {
  --background: #fbeeff;
  --foreground: #364153;
}

body {
  color: var(--foreground);
}

::-webkit-scrollbar {
  display: none;
}

/* Background */
.circuit-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: repeating-linear-gradient(0deg,
      transparent,
      transparent 19px,
      rgba(75, 85, 99, 0.08) 19px,
      rgba(75, 85, 99, 0.08) 20px,
      transparent 20px,
      transparent 39px,
      rgba(75, 85, 99, 0.08) 39px,
      rgba(75, 85, 99, 0.08) 40px),
    repeating-linear-gradient(90deg,
      transparent,
      transparent 19px,
      rgba(75, 85, 99, 0.08) 19px,
      rgba(75, 85, 99, 0.08) 20px,
      transparent 20px,
      transparent 39px,
      rgba(75, 85, 99, 0.08) 39px,
      rgba(75, 85, 99, 0.08) 40px),
    radial-gradient(circle at 20px 20px,
      rgba(55, 65, 81, 0.12) 2px,
      transparent 2px),
    radial-gradient(circle at 40px 40px,
      rgba(55, 65, 81, 0.12) 2px,
      transparent 2px);
  background-size:
    40px 40px,
    40px 40px,
    40px 40px,
    40px 40px;
}

.swiper-pagination-bullet {
  background-color: #4fb1df !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #38bdf8 !important;
  opacity: 1;
}

/* Card */
.card {
  position: relative;
  border-radius: 20px;
  background-color: rgb(243, 232, 255);
  background-image: linear-gradient(to bottom,
      rgba(243, 232, 255, 0.8),
      rgba(243, 232, 255, 0.9)),
    url("/images/cardbg.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #c084fc;
  background-image: linear-gradient(135deg,
      rgba(216, 180, 254, 0.5),
      rgba(192, 132, 252, 0.6)),
    url("/images/cover.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.7s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.tapped .cover {
  bottom: -100%;
}